.content {
    min-height: 100%;
    height: fit-content;
    justify-content: center;
    margin-bottom: 4em;
}

.center {
    text-align: center;
}

.companyName {
    margin-top: 1em;
}

.addBtn {
    margin-left: 5%;
    margin-bottom: 1em;
}

.descriptionContent {
    margin-top: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

.descriptionTitle {
    font-size: 1.4em;
    color: #97969B;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}

.titleText {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
}

.slimText {
    font-size: 0.8em;
    color: #97969B;
    font-weight: lighter;
}

.transportsContent {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px #429321 solid;
    height: 400px;
}

.centerList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 63px;
}

.list::-webkit-scrollbar {
    width: 1em;
}

.list::-webkit-scrollbar-thumb {
    background-color: #429321;
    visibility: hidden;
    border-radius: 4px 4px 4px 4px;
}

.list:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
