.content {
    min-height: 100%;
    height: fit-content;
    justify-content: center;
}

.center {
    text-align: center;
}

.companyName {
    margin-top: 1em;
}

.addBtn {
    margin-left: 5%;
}

.descriptionContent {
    margin-top: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

.descriptionTitle {
    font-size: 1.4em;
    color: #97969B;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}

.titleText {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
}

.transportsContent {
    margin-top: 3em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.resultHash {
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}


