.content {
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../../forest-dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.addButton {
    margin-left: 5%;
    margin-top: 3em;
}

.search {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.pageTitle {
    margin-top: 1em;
    text-align: center;
}

