.content {
    min-height: 90%;
    height: fit-content;
    justify-content: center;
    background-image: url('../../forest-dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.center {
    text-align: center;
}

.carNumberPlate {
    margin-top: 1em;
}

.addBtn {
    margin-left: 5%;
}

.descriptionTitle {
    margin-top: 2em;
    font-size: 1.4em;
    color: #97969B;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}
