.content {
    height: 100%;
    display: flex;
    justify-content: center;
}

.addButton {
    margin-left: 5%;
    margin-top: 3em;
}

.search {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.resultHash {
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.tip {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pageTitle {
    margin-top: 1em;
    text-align: center;
}

