.content {
    background-image: url('../../trees2.png');
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
    max-height: fit-content;
}

@media only screen and (max-device-width: 1300px) {
    .content {
        background-size: cover;
    }
}

.center {
    padding-top: 4%;
    text-align: center;
    text-shadow: -0.12em 0 black, 0 0.12em black, 0.12em 0 black, 0 -0.12em black;
}

.search {
    margin-inline: 15%;
    margin-top: 7%;
}
