.content {
    background-image: url('../../trees2.png');
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
    max-height: fit-content;
}

@media only screen and (max-width: 950px) {
    .content {
        background-size: cover;
    }
}

.center {
    padding-top: 4%;
    text-align: center;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.search {
    margin-inline: 15%;
    margin-top: 7%;
}
