.container {
    padding: 3px 0px;
    outline: 2px solid #37B74C;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    background-color: #37B74C;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
    padding: 5px;
}

a {
    color: aliceblue;
    text-decoration: none;
    padding: 1px 10px;
    border: 2px #37B74C solid;
}

a:hover {
    border: 2px aliceblue solid;
    border-radius: 15px 15px 15px 15px;
}

.selected {
    border: 2px aliceblue solid;
    border-radius: 15px 15px 15px 15px;
}