@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0.3em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

code {
  font-family: 'Poppins', sans-serif;
}
